.header{
    background-color: lightgoldenrodyellow;
    
}
.nav{
    background-color: greenyellow;
}
.section{
    background-color: orange;
}
.foot{
    background-color: blue;
    color: blue ;
}
h4 {
    background-color: yellow;
}
